footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: auto;
    padding-bottom: 20px;
    letter-spacing: 30px;
    font-size: 400px;
    font-weight: 600;
    mask-image: linear-gradient(to top, transparent 0%, black 100%);
    -webkit-mask-image: linear-gradient(to top, transparent 20%, black 100%);
}