.App {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  box-sizing: border-box;
}
.tech-partners-section {
  background: linear-gradient(to right, #1a202c, #2d3748);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}